[Unit]
Description=test

[Service]
RootDirectory=/home/alexor2
ExecStart=/somescript.sh

Restart=always
RestartSec=10

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=autodeploy

Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target 
